{% load static %}

<nav class="dashboard-navbar">
    <h2 class="brand">Yummy Point</h2>
    <div class="links">
        <a href="{% url 'dashboard' %}"><i class="fa-solid fa-gauge"></i>Dashboard</a>
        <a href="#"><i class="fa-solid fa-utensils"></i>Menu</a>
        <a href="#"><i class="fa-solid fa-clipboard-list"></i>Orders</a>
        <a href="#"><i class="fa-solid fa-boxes-stacked"></i>Inventory</a>
        <a href="#"><i class="fa-solid fa-star"></i>Reviews</a>
        <a href="#"><i class="fa-solid fa-gear"></i>Account</a>
        {% comment %} <a href="{% url 'menu-dash' %}"><i class="fa-solid fa-utensils"></i>Menu</a>
        <a href="{% url 'orders-dash' %}"><i class="fa-solid fa-clipboard-list"></i>Orders</a>
        <a href="{% url 'inventory-dash' %}"><i class="fa-solid fa-boxes-stacked"></i>Inventory</a>
        <a href="{% url 'review-dash' %}"><i class="fa-solid fa-star"></i>Reviews</a>
        <a href="{% url 'account-dash' %}"><i class="fa-solid fa-gear"></i>Account</a> {% endcomment %}
    </div>
</nav>