{% extends "core/core.html" %} {% load static %} {% block content %}
<div class="home-section">
  <div class="left">
    <div class="first">
      <h1>Grub big deals on <br /><span>Yummy Point!</span></h1>
    </div>
    <div class="second">
      Welcome to Yummy Point - Where Flavor Reigns Supreme! Get ready for a
      mouthwatering experience like no other!
    </div>
    <div class="third">
      <a href="{% url 'menu' %}">View Menu</a>
    </div>
  </div>
  <div class="right">
    <img src="{% static 'home_page.png' %}" alt="meal image" />
  </div>
</div>
{% endblock content %}
