/* core.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1,
h2,
h3,
a,
p,
div {
  box-sizing: border-box;
  font-family: "Noto Sans Mono";
  text-decoration: none;
}

body {
  overflow-x: hidden;
  width: 100%;
}

input[type="submit"] {
  cursor: pointer;
}

.messages {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 98%;
}

.message {
  font-size: 1rem;
  width: 60%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: 600;
  border: none;
}

.message-success {
  background-color: var(--complementary-color);
}

.message-error {
  background-color: var(--error-color);
}

.message-info {
  background-color: #00ffff;
}

.order-status {
  text-align: center;
  height: fit-content;
  border-radius: 4px;
  color: var(--text-color);
}

.status-pending {
  background-color: var(--warning-color);
  color: var(--text-color);
}

.status-paid {
  background-color: var(--complementary-color);
  color: var(--text-color);
}

.status-cancelled {
  background-color: var(--error-color);
  color: var(--text-color);
}

.container {
  width: 100%;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.home-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px 0px;
  border-radius: 20px;
  background-color: var(--core-transparent-bg);
  height: 80vh;
  width: 100%;
}

.home-section div.left,
.home-section div.right {
  flex-basis: 40%;
  padding: 10px;
}

.home-section div.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-section .left .first {
  color: var(--text-color);
  font-size: 1.5rem;
}

.home-section .left .first span {
  color: var(--complementary-color);
}

.home-section .left .second {
  color: var(--text-color);
}

.home-section .left .third a {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 20px;
  line-height: 80px;
  font-weight: 600;
}

.home-section .left .third a:hover {
  color: var(--complementary-color);
  background-color: var(--background-color);
  padding: 8px;
  border: 2px solid var(--complementary-color);
  transition: background-color 0.3s ease;
}

.home-section .left .third a:active {
  scale: 1.05;
  transition: all 0.3s ease;
}

.home-section .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-section .right img {
  display: block;
  width: 100%;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  width: 100%;
}

.about-section .about-container {
  flex-basis: 80%;
  padding: 20px;
  border-radius: 20px;
}

.about-section .about-container h1 {
  width: 100;
  text-align: center;
  color: var(--text-color);
  padding: 8px;
  border: 1px solid var(--primary-color);
  border-radius: 0px 20px;
  background-color: var(--core-transparent-bg);
  margin: 0%;
  margin-bottom: 20px;
  width: 100%;
}

.about-section .about-container h1 span {
  color: var(--complementary-color);
}

.about-section .about-container .text {
  color: var(--text-color);
  padding: 5px;
  line-height: 25px;
  margin-bottom: 20px;
}

.about-section .about-container .image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-section .about-container .image img {
  border-radius: 10px;
  display: block;
  width: 100%;
}

.about-section .about-container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-section .about-container .info .card {
  display: flex;
  flex-direction: row;
  width: 40%;
  padding: 10px;
  margin-top: 20px;
}

.about-section .about-container .info .card .left {
  border-radius: 5px;
  padding: 8px;
  border: 2px solid var(--text-color);
  font-weight: 600;
  text-align: center;
}

.about-section .about-container .info .card .right {
  padding: 8px;
  font-weight: 600;
  text-align: center;
  color: var(--complementary-color);
  border: 2px solid var(--complementary-color);

  border-radius: 5px;
  margin-left: 20px;
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-section .contact-container {
  background-image: url("../images/contact-us.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 80%;
  height: 80vh;
  height: fit-content;
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-container .left,
.contact-container .right {
  flex-basis: 40%;
}

.contact-container .left form h3 {
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  color: var(--primary-color);
}

.contact-container .left form .form-control {
  width: 96%;
  padding: 5px;
  color: #fff;
  border: 2px solid #fff;
  background-color: #555;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  opacity: 70%;
}

.contact-container .left form label.requiredField {
  color: var(--primary-color);
  font-weight: 700;
  padding: 10px 0px;
  margin-bottom: 10px;
  line-height: 25px;
}

.contact-container .left form input[type="submit"] {
  color: #252525;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  font-size: 1rem;
  width: 100%;
  margin-top: 10px;
}

.contact-section .contact-container .right {
  display: flex;
  flex-direction: column;
}

.contact-section .contact-container .right .card {
  margin: 15px 0px;
}

.contact-section .contact-container .right .card .left {
  color: white;
  padding: 10px;
  font-weight: 600;

  border-radius: 5px;
}

.contact-section .contact-container .right .card .right {
  color: white;
  font-weight: 600;
}

.contact-section .contact-container .right .card .right a {
  color: var(--complementary-color);
  padding: 10px;
  font-weight: 600;
  background-color: var(--primary-color);
  border-radius: 20px;
  width: fit-content;
  border: none;
}

.handler-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
}

.handler-section .heading {
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  width: fit-content;
  border-bottom: 2px dashed var(--primary-color);
  color: var(--error-color);
  margin-bottom: 20px;
  padding: 10px;
}

.handler-section .body {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  margin: 10px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .home-section div.left,
  .home-section div.right {
    flex-basis: 45%;
  }

  .about-section .about-container {
    flex-basis: 75%;
  }

  .contact-section .contact-container {
    flex-basis: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .home-section {
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
  }

  .home-section div.left,
  .home-section div.right {
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 20px 0px;
    border-radius: 20px;
    background-color: var(--core-transparent-bg);
  }

  .home-section .left .second {
    width: 75%;
    margin-bottom: 20px;
  }

  .about-section .about-container {
    flex-basis: 80%;
  }

  .contact-section .contact-container {
    flex-basis: 95%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-section {
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
  }

  .home-section div.left,
  .home-section div.right {
    border-radius: 20px;
    background-color: var(--core-transparent-bg);
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin: 20px 0px;
  }

  .home-section .left .second {
    width: 80%;
    margin-bottom: 20px;
  }

  .about-section .about-container {
    flex-basis: 90%;
  }

  .contact-section .contact-container {
    flex-basis: 95%;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 301px) and (max-width: 575px) {
  .container {
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .home-section {
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
  }

  .home-section div.left,
  .home-section div.right {
    border-radius: 20px;
    background-color: var(--core-transparent-bg);
    justify-content: flex-start;
    align-items: flex-start;
    width: 98%;
    margin: 20px 0px;
  }

  .home-section .left .second {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-section .about-container {
    flex-basis: 100%;
  }

  .about-section div .info .card {
    width: 80%;
  }

  .contact-section .contact-container {
    flex-basis: 100%;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 300px) {
  .container {
    padding-top: 30px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .home-section {
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
  }

  .home-section div.left,
  .home-section div.right {
    border-radius: 20px;
    background-color: var(--core-transparent-bg);
    justify-content: flex-start;
    align-items: flex-start;
    width: 98%;
    margin: 20px 0px;
  }

  .home-section .left .second {
    width: 80%;
    margin-bottom: 20px;
  }

  .about-section .about-container {
    flex-basis: 98%;
  }
  .about-section div .info .card {
    width: 100%;
  }

  .contact-section .contact-container {
    flex-basis: 100%;
    flex-direction: column-reverse;
  }
}
