/* static/css/navbar.css */
.navbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 2px 0;
  box-shadow: 0 1px 2px var(--border-color);
  overflow-x: hidden;
}

.navbar .brand img {
  display: block;
  height: 45px;
}

.navbar .toggler {
  display: none;
  border: 3px solid var(--border-color);
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.navbar .toggler i {
  color: var(--border-color);
}

.navbar .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .main a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

.navbar .main a:hover {
  color: var(--complementary-color);
}

.navbar .right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar .right a#signout {
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
}

.navbar .right a#signout i {
  color: var(--complementary-color);
  font-size: 1.5rem;
  margin: 0 5px;
}

.navbar .right a#signin {
  color: var(--text-color);
  background-color: var(--complementary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  padding: 0 10px;
  margin-left: 10px;
}

.navbar .right a#signin i {
  color: var(--background-color);
  font-size: 1.5rem;
  margin-left: 5px;
}

.navbar .right a#account {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .right a#account i {
  color: var(--complementary-color);
  font-size: 1.5rem;
  margin: 0 5px;
}

.navbar .right .right-link {
  margin: 0 10px;
}

.navbar .right a#account .text {
  color: var(--border-color);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
}

.navbar .right a#account:hover {
  color: var(--text-color);
}

.navbar .right a .text {
  display: none;
}

.navbar .right .theme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--complementary-color);
  border: 1px solid var(--complementary-color);
  border-radius: 20px;
  padding: 5px;
}

.navbar .right .theme i {
  margin-right: 3px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .navbar .main {
    display: none;
  }

  .navbar .right {
    display: none;
  }

  .navbar .main-responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    border: 1px solid var(--complementary-color);
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 20px 0px;
    margin-right: 10px;
  }

  .navbar .main-responsive a {
    padding: 10px;
    width: 100%;
    color: var(--complementary-color);
    font-size: 0.9em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--complementary-color);
    background-color: var(--background-color);
  }

  .navbar .main-responsive a:last-child {
    border-bottom: none;
  }

  .navbar .main-responsive a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  .navbar .toggler {
    display: flex;
    justify-content: flex-end;
  }
}
