:root {
  --primary-color: #ffbb00;
  --complementary-color: #42b90a;
  --background-color: #ffffff;
  --text-color: #252525;
  --secondary-color: #252525;
  --card-background: #ffffff;
  --error-color: #ff0000;
  --warning-color: #ffff00;
  --success-color: #00ff00;
  --core-transparent-bg: rgba(255, 170, 0, 0.5);
  --form-text-color: #ffffff00;
  --dark-green: #107700;
}

[data-theme="dark"] {
  --background-color: #252525;
  --text-color: #ffffff;
  --secondary-color: #404040;
  --card-background: #404040;
  --core-transparent-bg: rgba(255, 170, 0, 0);
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  background-color: var(--background-color);
  color: var(--text-color);
}