.signin-section {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.signin-section form {
  flex-basis: 40%;
  border-radius: 10px;
  height: fit-content;
}

.signin-section form .heading {
  font-weight: bold;
  text-align: center;
  color: #252525;
  padding: 0%;
}

.signin-section form .heading h1 {
  font-size: 1.3rem;
  padding: 10px;
  margin: 20px 0px;
  background-color: rgba(255, 170, 0, 0.3);
}

.signin-section form .form-group {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
}

.signin-section form .form-group a {
  margin-left: 10px;
}

div#login_form-group_err_msg {
  width: 100%;
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 10px;
  color: #ff0000;
}

.signin-section form input[type="text"],
.signin-section input[type="password"] {
  font-size: 1.1rem;
  font-weight: 500;
  width: 96%;
  padding: 7.5px;
  border: 2px solid #ffaa00;
  color: #252525;
  margin-bottom: 10px;
}

.signin-section label.requiredField {
  color: #252525;
  font-size: small;
}

small#hint_id_password1.form-text.text-muted ul {
  display: none;
}

.signin-section .signin-button {
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #333;
  transition: all 0.25s ease;
}

.signin-section .signin-button:hover {
  background-color: #444;
}

.signin-section .signup-button {
  margin-left: 10px;
  color: #107700;
}

.signin-section .signup-button:hover {
  color: #0099aa;
}

.signup-section {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signup-section form {
  flex-basis: 60%;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 10px;
  height: fit-content;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

.signup-section form .heading {
  grid-area: 1 / 1 / 2 / 3;
  font-weight: bold;
  text-align: center;
  color: #252525;
  padding: 0%;
}

.signup-section form .heading h1 {
  font-size: 1.3rem;
  padding: 5px;
  margin: 10px 0px;
  background-color: #0099aa;
}

div#div_id_password1.mb-3 ul {
  display: none;
}

div#id_username_helptext.form-text,
div#id_password2_helptext.form-text {
  color: #999900;
  font-size: small;
}

.signup-section form .form-group {
  width: 90%;
  padding: 10px;
}

label.form-label.requiredField {
  color: #252525;
  font-size: small;
}

.signup-section .signup-group {
  text-align: center;
}

.signup-section .signin-group {
  color: #252525;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.signup-section form input[type="text"],
.signup-section input[type="password"],
.signup-section input[type="email"] {
  font-size: 18px;
  width: 95%;
  color: #252525;
  padding: 7.5px;
  margin-top: 10px;
  outline: none;
  border: 2px solid #252525;
}

.signup-section .invalid-feedback {
  color: #0099aa;
  font-size: small;
}

.signup-section .signup-button {
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: #252525;
  background-color: #0099aa;
  transition: all 0.25s ease;
  width: 100%;
}

.signup-section .signup-button:hover {
  box-shadow: 1px 1px 5px white;
  color: white;
}

.signup-section .signin-button {
  text-decoration: none;
  color: #0099aa;
}

.signup-section .signin-button:hover {
  color: #ffaa00;
}

.signup-section .alert-info {
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  color: goldenrod;
}

p#error_1_id_username,
p#error_2_id_username,
p#error_1_id_password1,
p#error_2_id_password1,
p#error_3_id_password1,
p#error_1_id_password2,
p#error_2_id_password2,
p#error_3_id_password2 {
  color: #ff0000;
}

#signin_error {
  text-align: center;
  margin-top: 10px;
  color: #ff0000;
  padding: 10px;
}

.account-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-section .about,
.account-section .orders,
.account-section .form {
  width: 60%;
  margin: 10px 0px;
}

.account-section .about {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.account-section .about .info {
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.account-section .about .image {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-section .about .image img {
  display: block;
  width: 80%;
  max-width: 300px;
  border-radius: 50%;
}

.account-section .about .info .value {
  color: #0099aa;
  font-weight: 600;
  font-size: 1rem;
  margin: 10px 0px;
}

.account-section .about .info .wallet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
}

.account-section .about .info .wallet h3 {
  color: #107700;
  padding: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.account-section .about .info .wallet .amount {
  color: #0099aa;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #252525;
  border-radius: 5px;
  margin: 0px 5px;
}

.account-section .about .info .wallet .add a {
  color: #252525;
  background-color: #ffaa00;
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
}

.account-section .about .info .wallet .add a:hover {
  box-shadow: 0px 1px 10x #252525;
}

.account-section .orders .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.account-section .orders .heading h3 {
  color: #252525;
  padding: 10px;
  margin: 0%;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.account-section .orders .heading a {
  color: #107700;
  border: 2px solid #107700;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
}

.account-section .orders {
  overflow-x: auto;
}

.account-section .orders .table {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.account-section .orders .table::-webkit-scrollbar {
  width: 2px;
}

.account-section .orders .table::-webkit-scrollbar-track {
  background: #252525;
}

.account-section .orders .table::-webkit-scrollbar-thumb {
  background: #ffaa00;
  border-radius: 2.5px;
}

.account-section .orders .table::-webkit-scrollbar-thumb:hover {
  background: #ffaa00;
}

.account-section .orders .table tbody tr {
  margin-top: 5px;
}

.account-section .orders .table thead tr th {
  color: #252525;
  text-align: left;
  padding: 10px;
  background-color: #ffaa00;
}
.account-section .orders .table tbody tr td {
  padding: 5px 5px;
}

.account-section .orders .table tbody tr td.pay a {
  color: #ffaa00;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 5px;
}

.account-section .orders .table tbody tr td.pay a:hover {
  color: #252525;
}

.account-section .orders .table tbody tr:nth-child(even) {
  background-color: rgba(255, 170, 0, 0.3);
}

.account-section .form form {
  padding: 0px;
  border-radius: 10px;
  height: fit-content;
}

.account-section .form form .heading {
  color: #252525;
  font-size: 1.35rem;
  font-weight: 600;
  padding-bottom: 5px;
  text-transform: capitalize;
  text-align: center;
}

.account-section .form form .form-group,
.account-section .form form #div_id_image {
  margin: 25px 0px;
}

.account-section .form form #div_id_image .input-group {
  color: #fff;
}

.account-section .form form #div_id_image a {
  color: #ffaa00;
}

.account-section .form form #div_id_image #id_image.form-control {
  font-size: 1.1rem;
  font-weight: 500;
  width: 96%;
  padding: 7.5px;
  border: 2px solid #0099aa;
  color: #252525;
  margin-bottom: 10px;
}

.account-section .form form input[type="text"],
.account-section .form input[type="password"],
.account-section .form input[type="email"] {
  font-size: 1.1rem;
  font-weight: 500;
  width: 96%;
  padding: 7.5px;
  border: 2px solid #0099aa;
  color: #252525;
  margin-bottom: 10px;
}

.account-section .form form label.requiredField {
  font-size: 0.8rem;
  font-weight: 600;
}

.account-section .form .update-button {
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #252525;
  background-color: #ffaa00;
  transition: all 0.25s ease;
}

.account-section .form .update-button:hover {
  background-color: #444;
  color: #fff;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .signin-section form {
    flex-basis: 40%;
  }
  .signin-section form .heading {
    font-size: 1.3rem;
  }
  .signin-section form input[type="text"],
  .signin-section input[type="password"],
  .signin-section .signin-button,
  .signin-section .alert-error {
    font-size: 1.05rem;
  }

  .signin-section form .form-group {
    margin: 20px 0px;
  }

  .signin-section form .form-group div {
    margin-top: 18px;
  }

  .signin-section .signup-button {
    font-size: 1rem;
  }

  .signin-section .alert-error {
    font-size: 0.95rem;
  }

  .signup-section form {
    flex-basis: 60%;
    margin: 110px 0px;
    padding: 9px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .signup-section form .form-group {
    width: 92%;
  }

  .signup-section form .heading {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 1rem;
    font-weight: 600;
  }

  .signup-section form input[type="text"],
  .signup-section input[type="password"],
  .signup-section input[type="email"] {
    font-size: 1rem;
  }

  .signup-section .signup-button {
    font-size: 1rem;
    padding: 9px;
    color: #333;
  }

  .signup-section .signin-button {
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 4px;
    padding: 10px;
  }

  .signup-section .alert-info {
    margin-top: 18px;
    font-size: 1.15rem;
  }

  .account-section .about,
  .account-section .orders,
  .account-section .form {
    width: 70%;
  }
}

/* medium */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .signin-section form {
    flex-basis: 50%;
  }
  .signin-section form .heading {
    font-size: 1rem;
  }
  .signin-section form input[type="text"],
  .signin-section input[type="password"],
  .signin-section .signin-button,
  .signin-section .alert-error {
    font-size: 1rem;
  }

  .signin-section form .form-group {
    margin: 18px 0px;
  }

  .signin-section form .form-group div {
    margin-top: 16px;
  }

  .signin-section .signup-button {
    font-size: 0.95rem;
  }

  .signin-section .alert-error {
    font-size: 1rem;
  }

  .signup-section form {
    flex-basis: 70%;
    margin: 110px 0px;
    padding: 9px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .signup-section form .form-group {
    width: 94%;
  }

  .signup-section form .heading {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 1rem;
    font-weight: 600;
  }

  .signup-section form input[type="text"],
  .signup-section input[type="password"],
  .signup-section input[type="email"] {
    font-size: 1rem;
  }

  .signup-section .signup-button {
    font-size: 1rem;
    padding: 9px;
    color: #333;
  }

  .signup-section .signin-button {
    font-size: 0.95rem;
    font-weight: 600;
    border-radius: 4px;
    padding: 5px;
  }

  .signup-section .alert-info {
    margin-top: 18px;
    font-size: 1rem;
  }

  .account-section .about,
  .account-section .orders,
  .account-section .form {
    width: 80%;
  }
}

/* small */

@media screen and (min-width: 576px) and (max-width: 767px) {
  .signin-section form {
    flex-basis: 70%;
  }
  .signin-section form .heading {
    font-size: 1rem;
  }
  .signin-section form input[type="text"],
  .signin-section input[type="password"],
  .signin-section .signin-button,
  .signin-section .alert-error {
    font-size: 0.85rem;
  }

  .signin-section form .form-group {
    margin: 17px 0px;
  }

  .signin-section form .form-group div {
    margin-top: 15px;
  }

  .signin-section .signup-button {
    font-size: 0.9rem;
  }

  .signin-section .alert-error {
    font-size: 14px;
  }

  .signup-section form {
    flex-basis: 70%;
    margin: 110px 0px;
    padding: 9px;
    display: flex;
    flex-direction: column;
  }

  .signup-section form .form-group {
    width: 96%;
  }

  .signup-section form .heading {
    font-size: 1rem;
    font-weight: 600;
  }

  .signup-section form input[type="text"],
  .signup-section input[type="password"],
  .signup-section input[type="email"] {
    font-size: 0.85rem;
  }

  .signup-section .signup-button {
    width: 96%;
    font-size: 0.95rem;
    padding: 9px;
    color: #333;
  }

  .signup-section .signin-button {
    font-size: 0.95rem;
    font-weight: 600;
    border-radius: 4px;
    padding: 10px;
  }

  .signup-section .alert-info {
    margin-top: 18px;
    font-size: 0.85rem;
  }

  .account-section .about,
  .account-section .orders,
  .account-section .form {
    width: 100%;
  }

  .account-section .about {
    flex-direction: column;
  }

  .account-section .about .info,
  .account-section .about .image {
    width: 80%;
  }

  .account-section .about .image img {
    flex-basis: 80%;
  }

  .account-section .about .info {
    align-items: center;
  }
}

/* extra small */

@media screen and (max-width: 575px) {
  .signin-section form {
    flex-basis: 90%;
    align-items: center;
  }
  .signin-section form .heading {
    font-size: 1rem;
  }
  .signin-section form input[type="text"],
  .signin-section input[type="password"],
  .signin-section .signin-button,
  .signin-section .alert-error {
    font-size: 1rem;
  }

  .signin-section form .form-group {
    margin: 16px 0px;
  }

  .signin-section form .form-group div {
    margin-top: 14px;
  }

  .signin-section .signup-button {
    font-size: 0.9rem;
  }

  .signin-section .alert-error {
    font-size: 14px;
  }

  .signup-section form {
    flex-basis: 98%;
    padding: 9px;
    display: flex;
    flex-direction: column;
  }

  .signup-section form .form-group {
    width: 96%;
  }

  .signup-section form .heading {
    font-size: 1rem;
    font-weight: 600;
  }

  .signup-section form input[type="text"],
  .signup-section input[type="password"],
  .signup-section input[type="email"] {
    font-size: 0.85rem;
  }

  .signup-section .signup-button {
    width: 95%;
    font-size: 0.95rem;
    padding: 9px;
    color: #333;
  }

  .signup-section .signin-button {
    font-size: 0.95rem;
    font-weight: 600;
    border-radius: 4px;
    padding: 10px;
  }

  .signup-section .alert-info {
    margin-top: 18px;
    font-size: 0.85rem;
  }

  .account-section .about,
  .account-section .orders,
  .account-section .form {
    width: 100%;
  }
  .account-section .about {
    flex-direction: column;
  }
}
