{% extends 'core/core.html' %} {% block content %} {% load static %}
<div class="menu-item-section">
  <div class="heading">
    <h1>{{ item.name }}</h1>
  </div>
  <div class="body">
    <div class="image">
      <img src="{{ item.image.url }}" alt="{{ item.name }} image" />
    </div>
    <div class="details">
      <div class="buttons">
        <div class="price btn">KES {{ item.price }}</div>
        <a href="{% url 'order' item.id %}" class="order btn">Order Now</a>
        <a href="{% url 'menu-review' item.id %}" class="add-review btn">Add Review</a>
      </div>
      <div class="description">{{ item.description }}</div>
      {% if item.reviews.all %}
      <div class="reviews">
        {% for review in item.reviews.all %}
        <div class="review">
          <div class="image">
            <img
              src="{{ review.reviewer.image.url }}"
              alt="Reviewer image"
            />
          </div>
          <div class="right">
            <div class="top">
              <div class="left">
                <div class="name">{{ review.reviewer.email }}</div>
                <div class="rating">
                  {% for _ in "x"|ljust:review.rating %}
                  <i class="fas fa-star"></i>
                  {% endfor %}
                </div>
              </div>
              <small class="date">{{ review.get_humanized_time }}</small>
            </div>
            <div class="content">{{ review.content }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
